# dependencies
node_modules

# next.js
.next
.public
.vercel

scripts/**/*.csv
scripts/**/*.json

playwright-report/**/*

# amplify
amplify/**/*.json
amplify/#current-cloud-backend
amplify/backend/function/**/*.js
amplify/backend/types/
aws-exports.js

# vscode
settings.json