.canvas {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  // this is kind of a dirty workaround... probably need to dig into this when it is time to polish
  max-height: 1000px;
  z-index: -1;
}
