.root,
.canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // should turn this into a JS prop for safety
  background-color: var(--latest-additions-theme);
  z-index: -2;
}

.canvas {
  top: 0;
  left: 0;
  max-height: 500px;
  z-index: -1;
}
