.root {
  min-height: 100vh;
  // background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  background: linear-gradient(0.25turn, #ffc9c9, #dfb5f2);
}

.canvas {
  // position: fixed;
  width: 100vw;
  height: 100vh;
}
